body {
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    width: 1500px;
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(https://images.pexels.com/photos/813770/pexels-photo-813770.jpeg?auto=compress&cs=tinysrgb&w=1800);
    width: 100%;
    height:400px;
}

.cabecalho {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}

.cabecalho img {
    margin: 10px 30px;
}

nav ul {
    text-align: right;
    font-size:20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    padding: 10px;
}

nav ul :hover {
    color: white;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin:30px;
}  

h1, h2, h3, .learning, footer {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size:65px;
    color: white; 
    border: 7px solid #eae6e6;
    padding: 5px 70px;
    width: 400px;
    margin: 1px 80px;
}

#text {
    height: 150px;
    padding-top: 30px;
    margin: 0;
    background-color: #2e2ea5;
}

#text p {
    margin: 15px 30px;
    font-size: 25px;
    color: white;
}

.group {
    display: flex;
    padding: 3px;
    margin: 20px 10px; 
}

.vantagens, .learning {
    width: 350px;
    margin: 0 auto;
    align-items: center;
}

.vantagens h3, .learning {
    font-size: 32px;
    color: #4a4ae1;
    font-weight: 100px;
}

.vantagens p, #textvideo p, #boxform form {
    font-size: 18px;
    line-height: 40px;
}

.video {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: 20px 10px;
}

#textvideo h2 {
    color: #4a4ae1;
    font-size: 40px;
    font-weight: 100px;
    animation: fadeInFadeOut 1s linear infinite;
}

@keyframes fadeInFadeOut {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.titulos {
    background-color: #2b0aac;
    color: #9393a1;
    font-size: 40px;
    height: 150px;
    text-align: center;
    padding-top: 50px;
}

.map, #boxform, #linksrede, footer {
    text-align: center;
}

#boxform {
    background-color: #2b0aac;
    margin-bottom: 30px;
}

#boxform h3 {
    color: #9393a1;
    font-size: 30px;
    line-height: 30px;
    padding-top: 40px;
}

#boxform form {
    color: #eae6e6;
    padding-bottom: 20px;
    line-height: 30px;
}

#linksrede h4 {
    color: #4a4ae1;
}

#linksrede ul {
    list-style-type: none;
    display: inline-flex;
    gap: 90px;
}

.transformation {
    transition: transform 1s;
}

.transformation :hover {
    scale: 1.5;
}